@charset "utf-8";
/* ResetCSS  */
*{
	margin: 0;
	padding: 0;
}

.textbanner{
	padding: 40px 0;
}
.textbanner span{
	color: #1926E4;
}
.textbanner button{
	padding: 10px 30px;
	border: none;
	border-radius: 20px;
	
}
.anhbanner img {
	width: 100%;
}
.about{
	padding-top: 50px
}
.textabout h2{
	color: #B6AF3D;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}
.textabout p{
	color: black;
}
.textabout span{
	color: #326079;
}
.textabout button{
	padding: 10px 30px;
	border: none;
	border-radius: 20px;
}

.hinhabout img {
	width: 100%;
}
.prc{
	padding:50px;
	color: #326079;
}
.prc h1{
	text-align: center;
	padding: 30px;
}
.prc span, p{
	color: #B6AF3D;
}
.prc h6{
	text-align: center;
	color: black;
	padding-bottom: 30px;
}
.blog h1{
	color:#326079;
	text-align: center;
}
.blog p{
	text-align: center;
	padding-bottom: 50px;
}
.textblog button{
	padding: 10px 30px;
	border: none;
	border-radius: 20px;
}
.event h1 {
	color:#326079;
	text-align: center;
}
.event span{
	color: #B6AF3D;
}
.event {
	padding-top: 50px;
}
.event p{
	color: black;
	text-align: center;
	padding-bottom: 30px;
}
.team .row {
	background-color: #F2F2F2;
	border: none;
	border-radius: 30px;
}
.team h1{
	 color: #B6AF3D;
}
.team h3{
	color: #B6AF3D;
	
}
.team span{
	color:#326079;
}
.team p{
	color:#326079;
	padding-top: 10px;
	padding-bottom: 20px;
}
.contactus{
	color:#326079;
}
.contactus span{
	color: #B6AF3D;
}
.contactus p{
	color: black;
	padding-bottom: 30px;}


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:#13F8B2; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
.footer{
	padding-top: 70px;
}
.footer p,i{
	color: black;
	padding: 8px
}
.ft1 a{
	padding: 15px;
}
.footer-list{
	padding-top: 70px;
}
.footerlist ul{
	list-style: none;
}
.ftlist ul{
	list-style: none;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
.flip-card-back p{
	color: white;
	padding-top: 30px;
}

.chan{
	
	background-color: #F2F2F2;
}
